name: explo_capture
description:
  Capture render tree data of a Flutter app, for visualization with Explo.
version: 0.1.0+1
repository: https://github.com/blaugold/explo
homepage: https://github.com/blaugold/explo/main/packages/explo_capture
issue_tracker: https://github.com/blaugold/explo/issues

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=2.0.0'

dependencies:
  collection: ^1.15.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^1.0.4
  flutter_test:
    sdk: flutter
