name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  MELOS_VERSION: 1.0.0-dev.14
  EXPLO_CODE_DIR: explo-code

jobs:
  formatting-prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2

      - name: Install npm dependencies
        run: npm ci

      - name: Check formatting
        run: npm run prettier:check

  formatting-dart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install melos
        run: dart pub global activate melos $MELOS_VERSION

      - name: Check formatting
        run: melos run formatting:check

  flutter-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1

      - name: Install melos
        run: dart pub global activate melos $MELOS_VERSION

      - name: Run tests
        run: melos run test:flutter:unit

  flutter-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1

      - name: Install melos
        run: dart pub global activate melos $MELOS_VERSION

      - name: Install Flutter desktop dependencies
        run: sudo apt-get install clang cmake ninja-build pkg-config libgtk-3-dev

      - name: Activate Flutter desktop
        run: flutter config --enable-linux-desktop

      - name: Start Xvfb
        run: |
          Xvfb :99 -screen 0 1280x1024x24 &
          echo "DISPLAY=:99" >> "$GITHUB_ENV"

      - name: Run tests
        run: melos run test:flutter:integration

  explo-code-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2

      - name: Install npm dependencies
        working-directory: ${{ env.EXPLO_CODE_DIR }}
        run: npm ci

      - name: Run linter
        working-directory: ${{ env.EXPLO_CODE_DIR }}
        run: npm run lint

  explo-code-tests:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2

      - name: Install npm dependencies
        working-directory: ${{ env.EXPLO_CODE_DIR }}
        run: npm ci

      - name: Setup Flutter
        uses: subosito/flutter-action@v1

      - name: Install melos
        run: dart pub global activate melos $MELOS_VERSION

      - name: Build explo_ide_view
        shell: bash
        run: |
          ./tools/explo_ide_view.sh build
          ./tools/explo_ide_view.sh copyToExploCode

      - name: Start Xvfb
        if: runner.os == 'Linux'
        run: |
          Xvfb :99 -screen 0 1280x1024x24 &
          echo "DISPLAY=:99" >> "$GITHUB_ENV"

      - name: Run tests
        working-directory: ${{ env.EXPLO_CODE_DIR }}
        run: npm test
